# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# VS Code / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# Python test files
.pytest_cache/
